{% extends 'base.html.twig' %}

{% block title %}
    Hello WeatherController!
{% endblock %}

{% block body %}

    <form action="{{ path('weather') }}" method="post" class="col-md-6 form-city">
            <div class="form-group">
                <input name="ville" id="ville" class="city-select" type="text" placeholder="Ville">
                <button type="submit" class="btn col-md-3 validate-btn">Valider</button>
            </div>
    </form>





    <h1>Bienvenue sur la page Météo</h1>
    <pre>
        {{ dump(meteo) }}
    </pre>

    <div class="meteo-card d-flex justify-content-center">
        <section class="w-50 shadow p-3 mb-5 bg-white rounded">
            <h3>Toulouse:</h3>
            <p>Météo en ce moment: {{meteo.currently.summary}}</p>
            <p>Il fait actuellement {{meteo.currently.temperature}}°C.</p>
            <p>Vent : {{meteo.currently.windSpeed}}</p>
            
            
            {% if meteo.currently.uvIndex < 3 %}
            <p>Pas besoin de crème solaire car l'indice uv est de {{meteo.currently.uvIndex}} !</p>
            {% else %}
            <p>Prévoyez la crème solaire, l'indice UV est de {{meteo.currently.uvIndex}} !</p>
            {% endif %}
            
            <p>Météo à venir: 
                {{ meteo.daily.summary }}
            </p>
        </section>
    </div>
{% endblock %}
