{% extends 'base.html.twig' %}

{% block title %}
    Météo !
{% endblock %}

{% block body %}

    <div class="d-flex m-5">
        <form action="{{ path('meteo') }}" class="col-md-6 form-city", method="post">
            <div class="form-group">
                <input name="ville" id="ville" class="city-select" type="text" placeholder="Ville">
                <p>Si la ville sélectionnée ne possède pas de station météo, la plus proche sera sélectionnée.</p>
                <input type="hidden" class="latitude" name='latitude' />
                <input type="hidden" class="longitude" name='longitude' />
                <input type="hidden" class="cityname" name='city-name' />
                <button type="submit" class="btn col-md-3 validate-btn">Valider</button>
            </div>
        </form>
    </div>


    {% include "weather/new.html.twig" %}

    {% if meteo is defined %}
        <h3 class="text-center">Météo à {{city}}</h3>
        <div class="d-flex justify-content-center shadow p-3 mb-5 bg-white rounded justify-content-around">
            <div>
                <p>En ce moment: </p>
                <p>
                    <i class="fa fa-thermometer-three-quarters" aria-hidden="true"></i>
                    {{ meteo.currently.temperature|round }} °C. </p>
                <p>{{ meteo.currently.summary }}</p>
                <p>Le vent souffle à: {{ meteo.currently.windSpeed }} km/h.</p>
                <p>L'indice UV est de: {{ meteo.currently.uvIndex|round }} -> {% if meteo.currently.uvIndex < 3 %}vous n'avez pas besoin de crème solaire!{% endif %}
                </p>
            </div>
            <div>
                <p>Globalement, pour la journée:</p>
                <p>{{ meteo.daily.summary }}</p>
                {% if meteo.currently.icon == "cloudy" %} <canvas id="icon1" width="128" height="128"></canvas>
                !!!{% endif %}
                
                <p>{{ meteo.currently.icon }}</p>
            </div>
        </div>
        {% endif %}
<pre>
    {{ dump() }}
</pre>
{% endblock %}
